@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
*,
::before,
::after{
    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: transparent;/*清除点击默认的高亮效果*/

    -webkit-box-sizing: border-box;/*以你的border开始计算你的宽度*/

}

body{
    font-size: 16px;
    font-family: sans-serif;/*第二个是手机的一个默认的字体*/
    color: #000;
}


fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}


.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}


[class^="icon-"]{
    background: url("../images/jd-sprites.png") no-repeat;
    background-size: 200px 200px;
}




/*footer部分*/
.jd-footer {
    width: 100%;
    font-family:"微软雅黑";
}
.jd-footer .messages {
    height: 52px;
    background: #f8f8f8;
    border-top: 1px solid #DADADA;
    font-size: 12px;
    position: relative;
}
.jd-footer .messages ul {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 300px;
    margin-left: -135px;
}
.jd-footer .messages ul li {
    float: left;
    padding: 0 20px;
    border-right: 1px solid #DADADA;
}
.jd-footer .messages ul li:last-child {

    border-right:none;
}
.jd-footer .uesCategory {
    height: 69px;
    background: #f8f8f8;
    border-top: 1px solid #DADADA;
    position: relative;
}
.jd-footer .uesCategory .wrap {
    position: absolute;
    top:12px;
    left: 50%;
    margin-left: -116px;
    width: 300px;
}
.jd-footer .uesCategory div {
    width: 70px;
    margin-right: 30px;
    float: left;


}
.jd-footer .uesCategory i {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/jd-sprites.png)no-repeat;
    background-size: 200px 200px;
    margin-bottom: 5px;
}
.jd-footer .uesCategory .fore1 i {
    display: block;
    width: 33px;
    height: 33px;
    background-position: -120px -70px;
}
.jd-footer .uesCategory .fore2 i {
    display: block;
    width: 33px;
    height: 33px;
    background-position: -40px -70px;
}
.jd-footer .uesCategory .fore3 i {
    display: block;
    width: 33px;
    height: 33px;
    background-position: -80px -70px;
}
.jd-footer .uesCategory p {
    font-size: 12px;

}
.jd-footer .copyRight {
    height: 88px;
    background: #f8f8f8;
    border-top: 1px solid #DADADA;
    text-align: center;
}
.jd-footer .copyRight p {
    margin: 20px auto;
    font-size: 12px;
}

/*底部固定栏*/
.footerFixed {
    height: 44px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    background: #ffffff;
    -webkit-box-shadow: 0 -1px 5px 1px #DADADA ;
    -moz-box-shadow:  0 -1px 5px 1px #DADADA;
    box-shadow:  0  -1px 5px 1px #DADADA;
}
.footerFixed ul {


}
.footerFixed ul li {
    float: left;
    width: 25%;
    text-align: center;
}
.footerFixed ul li img {
    height: 40px;
}






